In [4]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize and authenticate Kaggle API
api = KaggleApi()
api.authenticate()

# Dataset details
dataset = 'vinicius150987/titanic3'
download_path = os.path.expanduser('~/Documents/google_certificate/DA-DS_case_study/titanic_case/')  # Path to Downloads folder

# Create the download directory if it doesn't exist
if not os.path.exists(download_path):
    os.makedirs(download_path)

In [5]:
# Download the dataset
print(f"Downloading dataset {dataset} to {download_path}...")
api.dataset_download_files(dataset, path=download_path, unzip=True)
print("Download completed!")

# List the downloaded files
for root, dirs, files in os.walk(download_path):
    for file in files:
        print(os.path.join(root, file))

Downloading dataset vinicius150987/titanic3 to /Users/phoebezou/Documents/google_certificate/DA-DS_case_study/titanic_case/...
Dataset URL: https://www.kaggle.com/datasets/vinicius150987/titanic3
Download completed!
/Users/phoebezou/Documents/google_certificate/DA-DS_case_study/titanic_case/titanic3.xls
/Users/phoebezou/Documents/google_certificate/DA-DS_case_study/titanic_case/kaggle.json
/Users/phoebezou/Documents/google_certificate/DA-DS_case_study/titanic_case/titanic_case.ipynb
/Users/phoebezou/Documents/google_certificate/DA-DS_case_study/titanic_case/.ipynb_checkpoints/titanic_case-checkpoint.ipynb

In [7]:
# data summary
import pandas as pd

def load_housing_data(path = download_path):
    csv_path = os.path.join(download_path, "titanic3.xls")
    return pd.read_excel(csv_path)

housing = load_housing_data()
housing.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"